/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Custom styles start here ***/
html{
	font-size: 10px;
}

body{
	font-size: 1.6em;
	font-family: arial;
	color: #383838;
}

hr {
	margin: 0;
}

.wrapper{
	width: 100%;
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.banner-layout{
	position: absolute;
	top: 50%;
	transform: translateY(-100px);
}

#banner {
	width: 100%;
	background: #999999;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

#banner-slogan{
	font-size: 3em;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 15px;
}

#banner-text{
	font-size: .88em;
	text-transform: uppercase;
	text-indent: 127px;
}

#banner p{
	color: #383838;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	
}

.banner-label {
	background: #383838;
	padding: 8px;
	font-size: .92em;
	color: #cccccc;
	margin-bottom: 15px;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.banner-label>span {
	color: #dddddd;
	font-size: .9em;
	text-transform: capitalize;
}

#banner-cta-text{
	margin-top: 50px;
	padding: 0;
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 2;
	background: inherit;
	display: inline-block;
	left: 18%;
	position: relative;
}

.green {
	color: #00a99d;
}

.banner-cta-lines.left {
	position: absolute;
	top: 7px;
	left: -30%;
	width: 30%;
}

.banner-cta-lines.right {
	position: absolute;
	top: 7px;
	right: -32%;
	width: 32%;
}

.banner-cta-lines hr{
	margin: 2px 0px 0px 0px;
	opacity: 0.3;
}

#banner-cta-button {
	margin-top: 30px;
	width: 50px;
	height: 50px;
	border-color: #00a99d;
	display: block;
	border-width: 4px;
	border-style: solid;
	border-radius: 50px;
	position: relative;
	left: 50%;
	transform: translateX(-25px);
	cursor: pointer;
}

#banner-cta-button:before {
	content: '';
	position: absolute;
	left: 0%;
	top: 45%;
	width: 20px;
	height: 15px;
	border: 4px #00a99d solid;
	transform: rotate(50deg);
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
}

#banner-cta-button:after {
	content: '';
	position: absolute;
	right: 0%;
	top: 45%;
	width: 20px;
	height: 15px;
	border: 4px #00a99d solid;
	transform: rotate(-50deg);
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
}

header {
	width: 100%;
	height: 100px;
	background: #f9f9f9;
	position: relative;
}

.section-title-hidden {
	width: 0;
	height: 0;
	text-indent: -100000px;
}

#nav-logo {
	width: 15%;
	position: absolute;
	top: 50px;
	transform: translateY(-25px);
	
}

.navbar {
	float: right;
}

.navbar ul{
	transform: translateY(45px);
}

.navbar ul li {
	float: left;
	margin: 0;	
}

.navbar a {
	text-decoration: none;
	font-size: 0.8em;
	color: #383838;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 5px;
}

.navbar ul li:hover a {
	background: #00a99d;
	color: #ffffff;
}


.section.section-light {
	background: #f9f9f9;
}

.section.section-dark {
	background: #383838;
}

.section.section-green {
	background: #00a99d;	
}

.section {
	padding: 100px 0;
}

.section-title {
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
}

.section-title:before {
	content: '';
	width: 35px;
	height: 15px;
	display: inline-block;
	background: url(../img/icon-left.png) no-repeat;
	background-size: cover;
	background-origin: center center;
	position: relative;
	top: -1px;
	left: -20px;
}

.section-title:after {
	content: '';
	width: 35px;
	height: 14px;
	display: inline-block;
	background: url(../img/icon-right.png) no-repeat;
	background-size: cover;
	background-origin: center center;
	position: relative;
	top: -1px;
	right: -19px;
}

section.section-dark .section-title:before{
	background: url(../img/icon-left-dark.png) no-repeat;
}

section.section-dark .section-title:after{
	background: url(../img/icon-right-dark.png) no-repeat;
}

.section.section-light .section-title {
	color: #383838;
}

.section.section-dark .section-title {
	color: #f9f9f9;
}

.section-description {
	margin-top: 15px;
	margin: 15px 0px 75px 0px;
	text-align: center;
	color: #606060;
}

section.subsection {
	padding: 10px;
}

section.subsection.col-3 {
	display: inline-block;
	width: 33%;
	float: left;
}

/* Little fix */
.wrapper:after {
	content: '';
	display: block;
	clear:both;
}

.sub-section-icon{
	display: block;
	margin: 0 auto 25px auto;
}

.subsection-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 15px;
	color: #383838;
}

.section.section-dark .subsection-title, 
.section.section-green .subsection-title
{
	color: #ffffff;
}


.subsection-text {
	text-align: center;
	margin-bottom: 15px;
	color: #606060;
	clear: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

/* Call To Action Button Styling */
.cta-btn {
	display: block;
	margin: 0 auto;
	background: inherit;
	outline: none;
	border: 1px #383838 solid;
	color: inherit;
	padding: 7px;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
}

.cta-btn.cta-btn-green {
	background: #00a99d;
	color: #ffffff;
	border: 1px #00a99d solid;
}

.cta-btn.cta-btn-light {
	background: #e4e4e4;
	border: 1px #e4e4e4 solid;
}

.cta-btn.cta-btn-dark {
	background: #383838;
	border: 1px #383838 solid;
	color: #ffffff;
}

.cta-btn.cta-btn-md {
	padding: 10px 10px 10px 10px;
}

.cta-btn.cta-btn-lg {
	width: 100%;
	padding: 10px 0;
}

/* Section Separator Styling */

.section-separator {
	position: relative;
	overflow: visible;
	margin: 0;
	padding: 0;
	border-width: 0px;
}

.section-separator:before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-20px) rotate(45deg);
	top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 3px;
	background: #00a99d;
	color: white;
}

.section-separator.section-separator-dark:before {
	background: #383838;
}

.section-separator.section-separator-green:before {
	background: #00a99d;
}


/* Amazing Features Section Styling */

#amazing-features .subsection {
	width: 40%;
}

#amazing-features{
	overflow: hidden;
}

#amazing-features .wrapper{
	position: relative;
}

.icon-pull-left {
	float: left;
	clear: both;
	margin-top: 10px;
	margin-right: 20px;
}

#tablets-img {
	position: absolute;
	bottom: -150px;
	right: 0;
}

#points-of-sale .subsection {
	padding: 0;
	top: 40px;
	margin-bottom: 25px;
}

#points-of-sale .subsection-title{
	margin-bottom: 7px;
}

#points-of-sale .subsection-caption{
	margin-bottom: 10px;
	opacity: 0.8;
	font-size: 0.9em;
}

#points-of-sale .sub-section-icon {
	margin-top: 0px;
	margin-bottom: 75px;
}

/* Loader styling */
.loader {
	width: 12%;
	float: left;
	margin-right: 4.66%;
}

.loader .loader-top {
	color: #ffffff;
	text-align: center;
	line-height: 125px;
	position: relative;
	margin: 0 auto;
	display: block;
	font-size: 1.9em;
	font-weight: bold;
	margin-bottom: 15px;
}

.loader .loader-top:before{
	content: '';
	width: 120px;
	height: 120px;
	position: absolute;
	left: 0;
	border: 3.5px #00a99d solid;
	border-radius: 80px;
}

.loader .loader-top:after{
	content: '';
	width: 120px;
	height: 120px;
	position: absolute;
	left: 0;
	border: 3.5px #00a99d solid;
	border-radius: 80px;
}


#our-powerful-skills .loader:nth-of-type(1) .loader-top:before{
	display: none;
}
#our-powerful-skills .loader:nth-of-type(1) .loader-top:after{
	border-left: 3.5px #ffffff solid;
	transform: rotate(-45deg);
}

#our-powerful-skills .loader:nth-of-type(2) .loader-top:before{
	z-index: 2;
	border-left: 3.5px transparent solid;
	transform: rotate(-45deg);
	
}
#our-powerful-skills .loader:nth-of-type(2) .loader-top:after{
	z-index: 1;
	border-left: 3.5px #ffffff solid;
	transform: rotate(20deg);

}

#our-powerful-skills .loader:nth-of-type(3) .loader-top:before{
	z-index: 2;
	border-left: 3.5px transparent solid;
	border-bottom: 3.5px transparent solid;
	transform: rotate(-45deg);
	
}
#our-powerful-skills .loader:nth-of-type(3) .loader-top:after{
	z-index: 1;
	border-left: 3.5px #ffffff solid;
	border-bottom: 3.5px #ffffff solid;
	transform: rotate(2deg);

}

#our-powerful-skills .loader:nth-of-type(5) .loader-top:before{
	z-index: 2;
	border-left: 3.5px transparent solid;
	transform: rotate(-45deg);
	
}
#our-powerful-skills .loader:nth-of-type(5) .loader-top:after{
	z-index: 1;
	border-left: 3.5px #ffffff solid;
	transform: rotate(-10deg);

}
#our-powerful-skills .loader:nth-of-type(6) .loader-top:before{
	display: none;
}
#our-powerful-skills .loader:nth-of-type(6) .loader-top:after{
	border-left: 3.5px #ffffff solid;
	border-bottom: 3.5px #ffffff solid;
	transform: rotate(-45deg);
}

.loader .loader-top small{
	font-size: 0.6em;
	position: relative;
	top: -3px;
}

.boxes:after {
	content: '';
	display: block;
	clear: both;
}
.box {
	float: left;
	background: #8a8a8a;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}


.box .box-title {
	font-size: 1.1em;
	font-weight: bold;
}


#sample-work .box {
	width: 16.3%;
	height: 225px;
	margin: 0.1% 0.1%;
}

.box .box-img {
	margin: 35px 0;
}

#sample-work #likes-counter{
	margin-top: 12px;
}

#sample-work .cta-btn {
	margin-top: 40px;
}

.box-icon-likes{
	width: 15px;
	height: 15px;
	position: relative;
	top: 2px;
	left: -3px;
	background: url(../img/box-like.png) no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
}


/* Company Facts Section Styling */
#company-facts .fact {
	width: 22%;
	float: left;
	margin-right: 3%;
	text-align: center;
}

#company-facts .fact>.fact-number{
	color: white;
	font-size: 5em;
	position: relative;
}

#company-facts .fact>.fact-number:before{
	left: 10%;
}

#company-facts .fact>.fact-number:after{
	right: 9%;
}

#company-facts .fact>.fact-number:before,
#company-facts .fact>.fact-number:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #8a8a8a;
	position: absolute;
	top: 50%;
	transform: translateY(-10px) rotate(45deg);
}

#company-facts .fact:nth-of-type(2) > .fact-number:before,
#company-facts .fact:nth-of-type(2) > .fact-number:after
 {
	background: #00a99d;
}



#company-facts .fact .fact-icon {
	display: block;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	background: url(../img/facts-icon-sprite.png);
	margin-top: 10px;
	position: relative;
}

#company-facts .fact .fact-icon:before {
	content: '';
	position: absolute;
	left: -20%;
	top: 50%;
	width: 90px;
	height: 0;
	border: none;
	border-top: 1px #606060 solid;
	transform: rotate(180deg);
	transform-origin: 0% 0%;
}

#company-facts .fact .fact-icon:after {
	content: '';
	position: absolute;
	right: -20%;
	height: 0;
	top: 50%;
	width: 90px;
	border: none;
	border-top: 1px #606060 solid;
	transform: rotate(180deg);
	transform-origin: 100% 0%;
}

#company-facts .fact:nth-of-type(2) .fact-icon {
	background-position: -30px center; 
}

#company-facts .fact:nth-of-type(3) .fact-icon {
	background-position: -55px center; 
}

#company-facts .fact:nth-of-type(4) .fact-icon {
	background-position: -85px center; 
}

#company-facts .fact .fact-title {
	margin-top: 10px;
	color: #606060;
	text-transform: uppercase;
	font-weight: bold;
}

#company-facts .fact .fact-title>small {
	font-size: 0.7em;
}

/* Purchase & Contact us styling */
#purchase-contact {
	margin: 0;
	padding: 0;
	height: 100px;
}

#purchase-contact .subsection-title {
	float: left;
	line-height: 100px;	
}

#purchase-contact .cta-btn {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 10px;
}

section:after {
	display: block;
	clear: both;
}


/* Team Members Section Styling */
#team-members .icon {
	display: inline-block;
}

#team-members .wrapper {
	position: relative;
}

#team-members .icon.icon-previous,
#team-members .icon.icon-next{
	position: absolute;
	top: 0;	
}

#team-members .icon.icon-previous{
	left: 0;
}

#team-members .icon.icon-next{
	right: 0;
}

#team-members .member-card {
	float: left;
	width: 24%;
	margin-right: 1%;
}

#team-members .member-card:nth-of-type(2) .member-card-header {
	background: #00a99d;
}

/* Testimony section Styling */
#testimony .witness {
	font-weight: bold;
	font-size: 0.8em;
	color: #00a99d;
}

#testimony .witness span {
	font-size: 0.7em;
	color: rgba(0, 0, 0, 0.4);
}

#testimony blockquote.quote {
	margin-top: 30px;
}

#testimony blockquote.quote p{
	color: #e4e4e4;
	font-size: 1.4em;
	font-weight: 500;
	text-align: center;
	line-height: 2em;
}

#testimony blockquote.quote p>span{
	font-size: 2.8em;
	line-height: 0em;
	position: relative;
	top: .47em;
	margin-right: 5px;

}

#testimony .icon{
	margin-top: 40px;
	display: inline-block;
	position: relative;
	top: 50px;
}

/* Partner Section Styling */

#partners .partner {
	height: 160px;
	width: 24%;
	margin-right: 1%;
	float: left;
}

#scenthound {
	background: url(../img/partners-sprite.png);
	background-position: -10px 0;
}

#vividways {
	background: url(../img/partners-sprite.png);
	background-position: -310px 0;
}

#hobnob {
	background: url(../img/partners-sprite.png);
	background-position: -620px 0;
}

#burnaboh {
	background: url(../img/partners-sprite.png);
	background-position: -910px 0;
}

#partners .wrapper {
	position: relative;
}

#partners .icon.icon-previous,
#partners .icon.icon-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-15px);
	   -moz-transform: translateY(-15px);
	    -ms-transform: translateY(-15px);
	     -o-transform: translateY(-15px);
	        transform: translateY(-15px);
}

#partners .icon.icon-previous {
		left: -50px;
}

#partners .icon.icon-next {

	right: -40px;
}



/* Prices Section Styling */
#prices .plan {
	width: 24%;
	margin-right: 1%;
	float: left;
	border: 1px rgba(0, 0, 0, .2) solid;
	color: rgba(0,0,0,0.5);
	padding: 2em;
}


/* Plan Box Stilyng */
.plan .plan-name {
	position: relative;
	top: -4.3em;
}

.plan .plan-price-box,
.plan .plan-attributes-box 
 {
	width: 100%;
	border: 1px rgba(0, 0, 0, .2) solid;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 0px auto 20px auto;
}

.plan .plan-price-box p {
	margin-bottom: 25px;
}

.plan .plan-price-box .dollars {
	font-size: 3em;
	font-weight: 900;
	position: relative;
	color: rgba(56, 56, 56, 1);
}

.plan .plan-price-box .dollars:before {
	content: '';
	width: 10px;
	height: 10px;
	background: #383838;
	position: absolute;
	right: -20%;
	bottom: 25%;
	border-radius: 3px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.plan .plan-price-box .cents {
	position: relative;
	top: -2em;
	color: rgba(56, 56, 56, 1);
}

.plan  .plan-attributes-box {
	line-height: 2em;
	margin-bottom: 2em;
}

/* Social Media Styling */
#social-media.section {
	margin: 0;
	padding: 50px;
}

#social-media .wrapper {
	position: relative;
}

#social-media .social-media-wrapper{
	margin-left: 10%;
	margin-bottom: 30px;
	width: 50%;
}

#social-media .social-media-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

#social-media .logo-dark{
	display: block;
	margin: 0 auto 40px auto;
}

#social-media .social-media-list li{
	float: left;
	width: 50px;
	height: 41px;
}

#social-media .icon-facebook {
	background: url(../img/social-sprite.png);
}
#social-media .icon-twitter {
	background: url(../img/social-sprite.png);
	background-position: -52px 0;
}
#social-media .icon-pinterest {
	background: url(../img/social-sprite.png);
	background-position: -102px 0;
}
#social-media .icon-podcast {
	background: url(../img/social-sprite.png);
	background-position: -152px 0;
}
#social-media .icon-vimeo {
	background: url(../img/social-sprite.png);
	background-position: -202px 0;
}
#social-media .icon-youtube {
	background: url(../img/social-sprite.png);
	background-position: -252px 0;
}
#social-media .icon-linkedin {
	background: url(../img/social-sprite.png);
	background-position: -302px 0;
}
#social-media .icon-dribbble {
	background: url(../img/social-sprite.png);
	background-position: -352px 0;
}
#social-media .icon-chrome {
	background: url(../img/social-sprite.png);
	background-position: -452px 0;
}
#social-media .icon-stumbleupon {
	background: url(../img/social-sprite.png);
	background-position: -502px 0;
}

/* Contact Section */
#contact.section {
	background: url(../img/map.png);
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: 0px 0px;
	min-height: 500px;
	width: 100%;
}

#contact .contact-form {
	width: 33%;
	padding: 1em;
	background: #f9f9f9;
	border: 1px rgba(0,0,0,.2) solid;
	border-radius: 15px;
	position: relative;
	left: 10%;
}

#contact .contact-form input, 
#contact .contact-form textarea {
	font-family: inherit;
	outline: none;
	border: 1px rgba(0,0,0,.2) solid;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 100%;
	margin-bottom: 2em;
	color: rgba(0,0,0,.8);
}

#contact .contact-form input[type='textarea'] {
	height: 150px;
	line-height: 20px;
}

/* Footer Section Style */
#footer {
	margin: 0;
	padding: 70px 0 30px 0;
}

#footer .section-description {
	margin: 0;
	color: #f9f9f9;
	font-weight: bold;
}


/* Member Card Stilyng */

.member-card > .member-card-details {
	border: .1px rgba(138, 138, 138, 0.3) solid;
	
}

.member-card > .member-card-header {
	width: 100%;
	height: 250px;
	background: #8a8a8a;
	border-radius: 5px 5px 0 0;
}
.member-card > .member-card-details .cta-btn {
	position: relative;
	top: -18px;
	font-size: .8em;
}

.member-card-position {
	font-size: .8em;
	margin-bottom: 30px;
}

.member-card-detail {
	margin: 10px 0;
	font-size: .7em;
	color: rgba(0, 0, 0, 0.5);
}

.member-card-pic {
	margin-top: 100px;
}

/* Icon Previous & Next styling */
.icon {
	width: 25px;
	height: 25px;
	border-radius: 3px;
	position: relative;
	display: inline-block;
}

.icon.icon-green {
	background: #00a99d;
}

.icon.icon-dark {
	background: #383838;
}

.icon.icon-light {
	background: #e4e4e4;
}

.icon.icon-light.icon-previous:before,
.icon.icon-light.icon-previous:after {
	border: 6px #00a99d solid;
	border-right: 6px transparent solid;
	border-top: 6px transparent solid;
}

.icon-previous:before,
.icon-next:before {
	content: '';
	width: 0px;
	height: 0px;
	border: 6px #e4e4e4 solid;
	border-right: 6px transparent solid;
	border-top: 6px transparent solid;
	border-radius: 4px 4px 4px 0;
	position: absolute;
	top: 50%;
	right: 50%;
}

.icon-previous:before {
	-webkit-transform: translate(9px, -6px) rotate(45deg);
	   -moz-transform: translate(9px, -6px) rotate(45deg);
	    -ms-transform: translate(9px, -6px) rotate(45deg);
	     -o-transform: translate(9px, -6px) rotate(45deg);
	        transform: translate(9px, -6px) rotate(45deg);
}

.icon-next:before {
	-webkit-transform: translate(3px, -6px) rotate(-136deg);
	   -moz-transform: translate(3px, -6px) rotate(-136deg);
	    -ms-transform: translate(3px, -6px) rotate(-136deg);
	     -o-transform: translate(3px, -6px) rotate(-136deg);
	        transform: translate(3px, -6px) rotate(-136deg);
}

.bkg-green {
	background: #00a99d;
}
